* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* body */
body {
  display: flex;
  /* justify-content: space-around; */
  width: 100vw;
  height: 100vh;
  background-color: black;
}
/* fin body */

/* header */
#header {
  background-color: #222e35;
  width: 4vw;
  max-height: 52.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  border-right: 0.1rem solid rgba(209, 215, 219, 0.063);
}

.icon {
  color: rgb(174, 186, 193);
}
.header-section div:hover .icon {
  border-radius: 50%;
  border: 3px solid #111b21;
}
.hr {
  border: 1.4px solid rgba(255, 255, 255, 0.2);
  width: 2.6rem;
}
.header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

#header img {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
}

.header-img img {
  border-radius: 50%;
  height: 100%;
  display: flex;
  align-items: end;
}
/* fin header */

/* main */

main {
  background-color: #111b21;
  width: 40%;
  display: flex;
  flex-direction: column; 
  /* max-height: 100vh; */
  max-height: 52.5rem;

}

#chat_conteiner{
  width: 100%;
  overflow: auto; 
}

::-webkit-scrollbar {
  width: 3px; 
}


::-webkit-scrollbar-track {
  background: #111b21; 
}


::-webkit-scrollbar-thumb {
  background: #222e35; 
}


.conteiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 1rem; */
  /* padding: 0 1rem 0 1rem; */
  gap: 1rem;
}

.conteiner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  width: 100%;
  position: sticky;

}

.conteiner-h2 {
  width: 50%;
  display: flex;
}

.conteiner-header div h2 {
  color: #e9edef;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 0.9rem;
}

.container-svg {
  width: 50%;
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding-right: 1.9rem;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
  width: 100%;
}

.search {
  width: 94%;
  position: relative;
}

.search img{
  position: absolute;
 width: 1.9rem;
 bottom: 6px;
 left: 16px;
}

.container-footer .search input {
  height: 3rem;
  width: 100%;
  border-radius: 7px 7px;
  background-color: #222e35;
  border: 1px solid #222e35;
  
}

.svg {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 0 0 0.5rem; */
}


.conteiner-chatt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* gap: 2rem; */
  /* padding: 0.3rem; */


}

main a{
  text-decoration: none !important;
}

.conteiner-chatt .image {
  width: 17%;
  display: flex;
  justify-content: center;
}

.conteiner-chatt .image img {
  border-radius: 50%;
  width: 5.1rem;
  object-fit: cover;
  /* padding: 0.6rem; */
}

.chatt {
  border-bottom: 1px solid rgba(255, 255, 255, 0.063);
  display: flex;
  justify-content: space-between;
  width: 82%;
  padding: 1.4rem 0 1.4rem 0;
}

.chat-mesaje {
  width: 100%;
}

.chatt .chat-mesaje h2 {
  color: #e9edef;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 0.1rem; */
  padding-bottom: 0.5rem;
  text-decoration: none ;
}

.chatt .chat-mesaje p {
  color: rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  /* padding: 0.4rem; */
  font-family: Arial, Helvetica, sans-serif;
}

.time {
  padding-right: 0.9rem;
}

.time p {
  color: #8996a0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.conteiner-chatt:hover {
  background-color: #222e35;
}

#p{
  background-color: #00a884;
  color: #e9edef;
  border-radius: 45px;
  text-align: center;
  padding: 0.3rem;  
}

#message_no-leido{
  color: #e9edef;
}
/* fin main */

/* footer */
#footer {
  /* background-color: #222e35; */
  width: 60%;
  max-height: 52.5rem;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 2rem; */
  display: flex;

}
.rightSide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;  
}
#footer .header{
  display: flex;
  background-color: #222e35;
  padding: 1.2rem;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
}

.chat-img{
  width: 30%;
}

.chat_img img{
  width: 3.9rem;
  object-fit: cover;
  border-radius: 50%;
}

.header_name{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;

}
.header_name h2{
  color: #e9edef;
  font-size: 1.5rem;
}

.header_name p{
  color: #8996a0;
  font-size: 1.3rem;
}

.header_icon{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.9rem;
  padding-left: 25rem;
}

#icon_camara{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100;
  border: 1px solid rgba(255, 255, 255, 0.075);
  border-radius: 19px;
  padding: 0.8rem 1rem 0.8rem 1rem;
}

#icon_camara img{
 width: 4.5rem;  
border-radius: 50%;
}
 .lupa img{
  width: 2.3rem;
 }

.chatbox {
  position: relative;
  width: 100%;
  height: calc(100% - 120px);
  padding: 50px;
  overflow-y: auto;
  
}

.message {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.message p {
  position: relative;
  right: 0;
  text-align: right;
  max-width: 65%;
  padding: 12px;
  background: #dcf8c8;
  border-radius: 10px;
  font-size: 0.9em;
}

.message p::before {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    135deg,
    #dcf8c6 0%,
    #dcf8c6 50%,
    transparent 50%,
    transparent
  );
}

.message p span {
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}

.my_msg {
  justify-content: flex-end;
}

.friend_msg {
  justify-content: flex-start;
}

.friend_msg p {
  background: #fff;
  text-align: left;
}

.message.friend_msg p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    225deg,
    #fff 0%,
    #fff 50%,
    transparent 50%,
    transparent
  );
}

.chat_input {
  position: relative;
  width: 100%;
  height: 60px;
  background: #2a3942;
  /* padding: 15px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222e35;
}
.chat_mas{
  width: 10%;
  display: flex;
  justify-content: center;
}
.chat_mas img{
  width: 4.1rem;
}
/* .chat_input ion-icon {
  cursor: pointer;
  font-size: 1.8em;
  color: #51585c;
} */

/* .chat_input ion-icon:nth-child(1) {
  margin-right: 15px;
} */

.input_coteiner{
  width: 80%;
  position: relative;
}
.input_coteiner img{
  width: 2rem;
  position: absolute;
  top: 8px;
  left: 11px;
  z-index: 1;
}
.chat_input  input {
  position: relative;
  width: 100%;
  /* margin: 0 20px; */
  padding: 10px ;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #2a3942;
}

.chat_micro{
  width: 10%;
  display: flex;
  justify-content: center;
}
.chat_micro img{
  width: 2rem;
}
/* fin footer */
